


<div class="radio-group">
    <input type="radio" id="recent" name="sortOrder" value="desc" (change)="sortSales('desc')" checked>
    <label for="recent">Más recientes</label>
  
    <input type="radio" id="oldest" name="sortOrder" value="asc" (change)="sortSales('asc')">
    <label for="oldest">Más antiguas</label>
  </div>



<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>ID</th>
            <th>Cliente</th>
            <th>Información</th>
            <th>Monto total</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody *ngFor="let sale of salesList">
        <tr>
            <td> {{ sale.date }} </td>
            <td> {{ sale.id }} </td>
            <td> {{ sale.userId }} </td>
            <td>
                <button (click)="seeDetails(sale.id)">
                Ver más
                </button>
            </td>
            <td> {{ sale.amount }} </td>
            <td>
                <select
                [formControl]="getControl(sale.id.toString())"
                (change)="changeStatus(sale)"
                class="form-select">
                    <option *ngFor="let option of getStatus(sale)" [value]="option">
                        {{ option }}
                    </option>
                </select>
            </td>
        </tr>
    </tbody>   
</table>