<!-- Navbar principal -->
<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  style="background-color: #201f1f; color: white"
>
  <div class="container">
    <a
      class="navbar-brand"
      href="#"
      [routerLink]="isAdmin() ? '/admin/list-products' : '/'"
    >
      <img
        src="assets/PIXEL_PERFECT.png"
        alt="Perfect Pixel Logo"
        height="65"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <!-- Botón 'Agregar Producto' visible solo si es admin -->
        <li class="nav-item" *ngIf="isAdmin()">
          <button
            class="btn btn-outline-light ms-3"
            [routerLink]="'/admin/create-products'"
          >
            Agregar Producto
          </button>
        </li>

        <!-- Botón 'Agregar Producto' visible solo si es admin -->
        <li class="nav-item" *ngIf="isAdmin()">
          <button
            class="btn btn-outline-light ms-3"
            [routerLink]="'/admin/list-products'"
          >
            Ver Productos
          </button>
        </li>

        <!-- Botón 'Agregar Producto' visible solo si es admin -->
        <li class="nav-item" *ngIf="isAdmin()">
          <button
            class="btn btn-outline-light ms-3"
            [routerLink]="'/admin/list-sales'"
          >
            Ver Pedidos
          </button>
        </li>
      </ul>

      <!-- Barra de búsqueda (visible solo si no es admin) -->
      <form *ngIf="!isAdmin()" class="d-flex mx-auto" (submit)="search()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar productos"
          aria-label="Search"
          [(ngModel)]="searchQuery"
          name="searchQuery"
          #searchInput
          style="width: 700px"
        />
        <button class="btn btn-outline-light" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <!-- Botón Iniciar Sesión o Usuario Logueado -->
      <a
        *ngIf="!isLoggedIn()"
        class="btn btn-outline-light me-3"
        routerLink="/login"
        >Iniciar sesión</a
      >
      <div *ngIf="isLoggedIn() && !isAdmin()" class="dropdown ms-3">
        <button
          class="btn btn-outline-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user-circle"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton"
        >
          <li>
            <a class="dropdown-item" routerLink="/modify-user"
              >Modificar información personal</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink= "/purchase-history">
              Mis Compras
            </a>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>

      <!-- Solo visible si el usuario no es admin -->
      <app-carrito *ngIf="!isAdmin()"></app-carrito>

      <!-- Si es admin, solo muestra el botón para cerrar sesión, alineado a la derecha -->
      <div *ngIf="isLoggedIn() && isAdmin()" class="ms-auto">
        <button class="btn btn-outline-light ms-3" (click)="logout()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Subnavbar con fondo blanco y margen superior -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow-sm"
  style="margin-top: 91px"
>
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category/Perifericos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sucursales">Sucursales</a>
      </li>
    </ul>
  </div>
</nav>
