<div class="dropdown">
  <button
    class="btn btn-outline-light dropdown-toggle d-flex align-items-center"
    type="button"
    data-bs-toggle="dropdown"
    [disabled]="!cartItems.length"
  >
    <i class="fas fa-shopping-cart me-2 p-1"></i>

    <span class="badge bg-light text-dark ms-2">{{ cartItems.length }}</span>
  </button>
  <div
    class="dropdown-menu dropdown-menu-end pl-5 shadow-sm"
    *ngIf="cartItems.length"
  >
    <h6 class="dropdown-header text-center">Tu carrito</h6>

    <div
      *ngFor="let item of cartItems"
      class="cart-item d-flex align-items-center py-3 border-bottom"
      style="max-width: 600px; margin: 0 auto"
    >
      
      <img
        [src]="item.product.image_url"
        alt="Imagen del producto"
        class="img-thumbnail flex-shrink-0"
        width="70"
        height="70"
      />

      
      <div class="ms-3 flex-grow-1">
        <p
          class="mb-1 fw-semibold text-truncate"
          title="{{ item.product.name }}"
        >
          {{ item.product.name }}
        </p>
        <p class="mb-1 text-muted">{{ item.product.price | currency }}</p>
        <div class="d-flex align-items-center">
          
          <button
            (click)="onClick($event); decreaseQuantity(item)"
            class="btn btn-outline-secondary btn-sm"
            aria-label="Disminuir cantidad"
          >
            -
          </button>
          <span class="mx-3">{{ item.quantity }}</span>
          <button
            (click)="onClick($event); increaseQuantity(item)"
            class="btn btn-outline-secondary btn-sm"
            aria-label="Aumentar cantidad"
          >
            +
          </button>
        </div>
      </div>

      
      <div class="ms-3">
        <button
          (click)="removeItem(item)"
          class="btn btn-danger btn-sm"
          aria-label="Eliminar producto"
        >
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>

    <button class="btn btn-outline-light me-3 w-100" routerLink="/prepayment">
      Continuar
    </button>
  </div>
</div>
