
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label for="name">Nombre del Producto:</label>
    <input id="name" formControlName="name">
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
      Nombre es requerido
    </div> <br>
  
    <label for="brand">Marca:</label>
    <input id="brand" formControlName="brand">
    <div *ngIf="productForm.get('brand')?.invalid && productForm.get('brand')?.touched">
      Marca es requerida
    </div> <br>
  
    <label for="price">Precio:</label>
    <input id="price" formControlName="price" type="number" step="0.01">
    <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
      Precio es requerido y debe ser mayor a 0
    </div> <br>
  
    <label for="stock">Stock:</label>
    <input id="stock" formControlName="stock" type="number">
    <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
      Stock es requerido y debe ser mayor a 0
    </div> <br>
  
    <label for="description">Descripción:</label>
    <textarea id="description" formControlName="description"></textarea>
    <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
      Descripción es requerida
    </div> <br>
  
    <label for="category">Categoría:</label>
    <input id="category" formControlName="category">
    <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
      Categoría es requerida
    </div> <br>
  
    <label for="image_url">URL de la Imagen:</label>
    <input id="image_url" formControlName="image_url" type="url">
    <div *ngIf="productForm.get('image_url')?.invalid && productForm.get('image_url')?.touched">
      URL válida es requerida
    </div> <br>
  
    <button type="submit" [disabled]="productForm.invalid">Guardar Producto</button>
  </form>
  