<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row w-100 justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <h2>Formulario de Pago</h2>
        <form [formGroup]="tarjetaForm" (ngSubmit)="enviarFormulario()">
          <label for="nombreTitular">Nombre del Titular</label>
          <input
            id="nombreTitular"
            formControlName="nombreTitular"
            type="text"
            maxlength="19"
          />

          <label for="numeroTarjeta">Número de Tarjeta</label>
          <input
            id="numeroTarjeta"
            formControlName="numeroTarjeta"
            type="text"
            (input)="updateCardDisplay()"
            maxlength="16"
          />

          <label for="fechaExpiracion">Fecha de Expiración (MM/YY)</label>
          <input
            id="fechaExpiracion"
            formControlName="fechaExpiracion"
            type="text"
            (input)="updateCardDisplay()"
            maxlength="5"
          />

          <label for="cvv">CVV</label>
          <input id="cvv" formControlName="cvv" type="text" maxlength="3" />

          <button type="submit" [disabled]="!tarjetaForm.valid">Pagar</button>
        </form>
        <p *ngIf="mensajeExito" class="mensaje-exito">{{ mensajeExito }}</p>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-start">
      <div class="tarjeta">
        <div
          class="tarjeta-frontal d-flex flex-column mt-3"
          style="height: 100%"
        >
          <img
            class="logo"
            src="assets/PIXEL_PERFECT.png"
            alt="Logo de la tarjeta"
          />

          <p class="numero-tarjeta">
            {{
              formatCardNumber(tarjetaForm.get("numeroTarjeta")?.value) ||
                "**** **** **** ****"
            }}
          </p>
          <p class="fecha-expiracion">
            Exp: {{ tarjetaForm.get("fechaExpiracion")?.value || "MM/YY" }}
          </p>
          <h3 style="font-size: 19px" class="nombre-tarjeta">
            {{
              tarjetaForm.get("nombreTitular")?.value || "Nombre del Titular"
            }}
          </h3>

          <!-- Aquí alineamos el logo de visa -->
          <div class="d-flex justify-content-end">
            <img style="width: 45px" src="assets/visa.png" />
          </div>
        </div>

        <div class="tarjeta-dorsal">
          <div class="stripe"></div>
          <div class="cvv">
            CVV: {{ tarjetaForm.get("cvv")?.value || "***" }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showModal" class="modal-overlay">
      <div class="modal-content">
        <h2>Confirmación de Pago</h2>
        <p>{{ mensajeExito }}</p>
        <button (click)="confirmarYRedirigir()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
